replicaCount: 1

mcpImage:
  repository: icr.io/ibm-operations-aai/ibm-operations-agent-z
  tag: v1.1.1
  pullPolicy: Always

createSecret: false

mcpService:
  name: wxa4z-ibm-operations-agent-z-mcp-service
  ports:
    - name: mcp-client
      protocol: TCP
      port: 9001
      targetPort: 9001
    - name: mcp-server
      protocol: TCP
      port: 9002
      targetPort: 9002

mcpRoute:
  name: wxa4z-ibm-operations-agent-z-mcp-route
  annotations:
    hostGenerated: "true"
  serviceName: wxa4z-ibm-operations-agent-z-mcp-service
  weight: 100
  targetPort: mcp-client
  tls:
    termination: edge
    secretName: wxa4z-agents-tls-secret
    enableTlsCertMount: false # Set to true to mount TLS certs from secret when deploying standalone helm-chart.

env:
  CPD_VERSION: "5.2"
  DEPLOYMENT_TYPE: on-prem
  LOG_LEVEL: INFO
  VERIFY_SSL: "true"
  ONPREM_WML_INSTANCE_ID: openshift
  UNITE_METRIC_INDEX: unite-metrics
  UNITE_EVENT_INDEX: unite-events
  LLM_MODEL: ibm/granite-3-3-8b-instruct
  LANGFUSE_HOST: ""
  LANGFUSE_TRACING_ENABLED: false
  SUMMARY_DIR: /data
  GRAPH_RECURSION_LIMIT: "30"
  CONTEXT_LENGTH: "16000"
  CPD_AUTH_URL: ""
  DEBUG_TOOLSELECTION: "false"

mcpSecrets:
  name: ibm-operations-agent-z-mcp-secrets
  createSecret: true
  data:
    WATSONX_ML_URL: ""
    WATSONX_DEPLOYMENT_SPACE_ID: ""
    CPD_USERNAME: ""
    WATSONX_API_KEY: ""
    UNITE_CLIENT_ID: ""
    UNITE_CLIENT_SECRET: ""
    UNITE_GRANT_TYPE: ""
    UNITE_API_URL: ""
    UNITE_TOKEN_URL: ""
    AGENT_AUTH_TOKEN: ""
    LANGFUSE_SECRET_KEY:
    LANGFUSE_PUBLIC_KEY:
    WATSONX_PROJECT_ID: ""
    EMBEDDING_MODEL_PATH: "unite_langgraph_agent/agents/models/granite-embedding-english-r2"
    TOOL_EMBEDDING_PATH: "unite_langgraph_agent/agents/tool_graph/tool_calling_graph/tool_embeddings"
    WRAPPER_URL: ""
    WRAPPER_USERNAME: ""
    WRAPPER_PASSWORD: ""
    ZCHATOPS_MCP_URL: "http://wxa4z-zchatops-mcp-server-service.wxa4z-aiops.svc.cluster.local:8081/mcp"
    CONCERT_MCP_SERVER_URL: "http://0.0.0.0:9002/mcp"
    CONCERT_MCP_SERVER_HOST: "0.0.0.0"
    CONCERT_MCP_SERVER_PATH: /mcp
    CONCERT_MCP_SERVER_PORT: "9002"

imagePullSecrets:
  - name: ibm-operations-image-mcp-pull-secret

mcpResources:
  limits:
    cpu: "2"
    memory: "2Gi"
  requests:
    cpu: "1"
    memory: "1Gi"

mcpPvc:
  storageClass: "ocs-storagecluster-cephfs"
  accessModes:
    - ReadWriteOnce
  enabled: true
  size: 8Gi

mcpNetworkPolicy:
  name: wxa4z-ibm-operations-agent-z-mcp-network-policy
  egress:
    - {}
  ingress:
    - {}

bootstrapJob:
  enabled: true
  completions: 1
  parallelism: 1
  backoffLimit: 2
  activeDeadlineSeconds: 1800
  image:
    repository: cp.icr.io/cp/ibm-watsonx-assistant-for-z/wxa4z-agent-bootstrapper
    tag: v3.1.0@sha256:f26bb5a4f90e05a52bd72e1cf38f0bcde694d1a4840a6a930d01de2b21a3224f
    pullPolicy: Always
    overwrite: "true"
  imagePullSecrets:
    - name: wxa4z-image-pull-secret
  secret:
    dev_mode: false # Set this to true if you are installing subchart independently. When using wxa4z-agentic-suite, this should be false.
    name: ibm-operations-agent-bootstrap-job-secret
    data:
      ORCHESTRATE_ENV_TYPE: cpd
      WATSONX_API_KEY: WATSONX_API_KEY
      ORCHESTRATE_ENV_URL: ORCHESTRATE_ENV_URL
      CPD_USERNAME: CPD_USERNAME
  env:
    ORCHESTRATE_ENV_NAME: "wxo-live-instance"
    CONFIG_PATH: "/ibm-ops-agent-bootstrap-config/ibm_ops_agent_bootstrap_config.yaml"
    HOME: /opt/app-root/src
  resources:
    limits:
      cpu: "1"
      memory: "1Gi"
    requests:
      cpu: "500m"
  serviceAccount:
    name: ibm-ops-agent-bootstrap-job-sa

# This is the image pull secret for pulling the agent image from icr.io, replace registry.server, registry.username and registry.entitlementKey with your own values.
registry:
  name: ibm-operations-image-pull-secret
  createSecret: true
  server: icr.io
  username: iamapikey
  entitlementKey: entitlementKey
